html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 50px;
  }
  #text{
    display:none;
  }
  @media only screen and (max-device-width:900px){
    canvas{
      display:none;
    }
   
  }
  @media only screen and (max-device-width:900px){
    #text{
      display:block;
    }
  }
 
